.authForm{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

.authForm input{
  box-sizing:border-box;
  margin-top: 7px;
  font-size: 1.5rem;
  padding:.3rem;
  width:100%;
}

.authForm input[type="submit"]{
  font-size: 1rem;
  flex:1;
  border-radius: 5px;
  border: none;
  background-color: #00acee;
  color: #fff;
}

@media screen and (max-width: 512px){
  .authForm{
  }
}