.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

ul {
  min-width: 512px;
  display: flex;
  padding: 0;
  justify-content: space-around;
  list-style: none;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

a {
  color: #00acee;
  font-size: 1.3rem;
  text-decoration: none;
} /* Globally */

/* Each state */

a:hover {
  text-decoration: none;
  color: #000000b3;
}
a:focus {
  text-decoration: none;
  color: black;
}
a:hover,
a:active {
  text-decoration: none;
  color: #000000b3;
}

@media screen and (max-width: 512px) {
  ul {
    min-width: 100vw;
    display: flex;
  }
  ul li {
    flex: 1;
  }
  a {
    font-size: .8rem;
  }
}
