button {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.writedSweet form{
}

.userPhotoWrapper {
  display: inline-block;    
  width: 50px;
  height:50px;
  border-radius: 70%;
  overflow: hidden;
}
.userPhoto{
  margin-right: 5px;
  object-fit: cover;
}

.writedSweet textarea {
  width:100%;
  display:block;
  max-width:100%;
  line-height:1.5;
  border-radius:3px;
  border:1px solid #F7E98D;
  font:13px Tahoma, cursive;
  transition:box-shadow 0.5s ease;
  box-sizing: border-box;
  box-shadow:0 4px 6px rgba(0,0,0,0.1);
  background:linear-gradient(#F9EFAF, #F7E98D);
  background:-o-linear-gradient(#F9EFAF, #F7E98D);
  background:-ms-linear-gradient(#F9EFAF, #F7E98D);
  background:-moz-linear-gradient(#F9EFAF, #F7E98D);
  background:-webkit-linear-gradient(#F9EFAF, #F7E98D);
}

.writedSweet > form > button{
  float:right;
}

.writedSweetContainer {
  position: relative;
  box-sizing: border-box;
}
.sweet:nth-of-type(2n) {
  background: #edf1f2;
}
.writedSweet {
  width: 100%;
  min-height: 175px;
  font-size: 16px;
  border-top: 1px solid grey;
  padding: 22px;
  box-sizing: border-box;
  
}

.writedSweet .sweetTop .writer {
  vertical-align:top;
}

.imageWrapper {
  margin: 10px 0 10px 0;
  transition: 0.4s;
}

.imageWrapper.hide {
  opacity: 0.3;
}

.imageWrapper img:hover {
  opacity: 0.5;
}

.imageWrapper img {
  position: absolute;
  left: 100%;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
  transform: translate(-100%, 0);
  width: 100px;
  height: 100px;
  opacity: 1;
}

.writedSweet span {
  transition: 0.4s opacity;
  opacity: 1;
  text-overflow: ellipsis;
}
.manageBtn:active,
.manageBtn:hover,
.manageBtn:focus {
  background-color: #000000;
  margin-right: 22px;
  min-width: 100px;
}

.manageBtn {
  color: white;
  background-color: #00acee;
  transition: 0.4s;
  margin-bottom: 7px;
  font-size: 1rem;
}

/* sweet delete btn style */

.ownerBtnBox button {
  font-size: 1rem;
}

.ownerBtnBox button:first-child, .writedSweet form button[type="submit"] {
  background-color: tomato;
  color: white;
  margin-right: 5px;
}
.ownerBtnBox button:first-child:hover, .writedSweet form button[type="submit"]:hover{
  background-color: red;
}
/* sweet update btn  style*/
.ownerBtnBox button:last-child, .writedSweet  form > button:nth-child(2){
  background-color: #006bc9;
  color: white;
}
.ownerBtnBox button:last-child:hover, .writedSweet  form > button:nth-child(2):hover {
  background-color: blue;
}
.writedSweet span.hide {
  opacity: 0.3;
}
.writedSweet .writer {
  font-weight: 900;
  font-size: 1em;
}

.writedSweet .date {
  float: right;
  font-size: 0.7em;
  /* line-height: .7em; */
}
.writedSweet .sweet {
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  max-width: 600px;
  font-size: 1em;
}

.ownerBtnContainer {
  display: inline;
  box-sizing: border-box;
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translate(-100%, -100%);
}

.ownerBtnContainer .ownerSweetManageBtn {
  width: 100px;
  margin-right: 22px;
}

.ownerBtnBox {
  display: inline;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ownerBtnBox button {
  transition: 0.4s opacity;
}

.ownerBtnBox button.hide {
  opacity: 0;
  cursor: default;
}
.ownerBtnBox button.showBtn {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .imageWrapper span.sweet {
    max-width: 300px;
  }
}

@media screen and (max-width: 512px) {
  .imageWrapper span.sweet {
    max-width: 220px;
  }
}
