.profileEditContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  min-width: 512px;
  max-height: 512px;
  box-sizing: border-box;
  text-align: center;
  /* 
    min-width: 512px;
     */
  overflow: auto;
}

.profileEditContainer .profileEditForm {
  display: flex;
}
.profileEditContainer span {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #00acee;
}
.profileEditForm input[type="text"] {
  flex: 1;
  font-size: 1.2rem;
}

.TweetBtnStyle {
  cursor: pointer;
  background-color: #00acee;
  color: white;
  height: 30px;
  font-size: 1em;
  border-radius: 7px;
  font-weight: bold;
  border: none;
  margin-right: 7px;
  margin-left: 7px;
  transition: 0.3s;
}

.TweetBtnStyle:hover {
  background-color: #000000;
  font-size: 1.1em;
}

.logOutBtn {
  cursor: pointer;
  background-color: tomato;
  color: white;
  height: 30px;
  font-size: 1em;
  border-radius: 7px;
  font-weight: bold;
  border: none;
  margin-right: 7px;
  transition: 0.3s;
}

@media screen and (max-width: 512px) {
  .profileEditContainer {
    min-width: 100vw;
  }
  .profileEditForm input[type="text"] {
    font-size: 0.9rem;
  }
  .logOutBtn {
    font-size: 0.8em;
  }
  .TweetBtnStyle {
    font-size: 0.8em;
  }
}
