/* @font-face {
  font-family: 'BMHANNAAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */
html, body{
  margin:0;
  padding:0;
  /* background-color: #; */ /*전체 배경색*/
}

body{
}
* {
  /* font-family: 'BMHANNAAir'; */
}
#root {
  width: 100%;
}